# файл конфигурации веб-приложения (для каждой редакции свои)
/config export-ignore

# файл версии и класса веб-приложения (для каждой редакции свои)
/app/Application.php export-ignore
/app/Version.php export-ignore

# файлы .gitkeep
/public/uploads/.gitkeep export-ignore
/public/themes/.gitkeep export-ignore
/runtime/.gitkeep export-ignore

# файлы, которые буду в новой редакции
.gitignore export-ignore
.gitattributes export-ignore
.editorconfig  export-ignore
composer.json export-ignore
README.md export-ignore
LICENSE export-ignore
